
/* ******************************************* */
/* ****** Simple Worldbuilding Specific Styles */
/* ******************************************* */


.worldbuilding .sheet-header {
    height: auto;
}

.worldbuilding .sheet-header .profile-img {
	background: var(--p5e-fg-color);
    border: 4px outset var(--p5e-fg-color-dark);
    border-radius: 4px;
}

.worldbuilding .attributes-header {
    border: 2px outset var(--p5e-fg-color-dark) !important;
    background-image: linear-gradient(0deg, var(--p5e-fg-color-lighter) 8px, var(--p5e-fg-color-darker) 8px, var(--p5e-fg-color-lighter) 12px, var(--p5e-fg-color-darker) 12px) !important;
}

.worldbuilding .tabs .item {
    text-decoration: none !important;
}

.worldbuilding .item-list .item img {
    border: 1px outset var(--p5e-fg-color-dark);
    background-color: var(--p5e-fg-color);
}

.worldbuilding .item-list .item {
    border-bottom: 1px solid var(--p5e-fg-color-shadow);
    background-color: var(--p5e-fg-color-half);
    border-radius: 0px !important;
}

.worldbuilding .editor {
	padding: 0px;
    border-image: url('../../images/border-textbox-small.png') 13 11 fill round;
    border-width: 13px 11px;
    border-style: solid;
    background-clip: content-box;
    background-color: #F8F8F8;
}