@font-face {
    font-family: 'squarefontregular';
    src: url('square-webfont.eot');
    src: url('square-webfont.eot?#iefix') format('embedded-opentype'),
         url('square-webfont.woff2') format('woff2'),
         url('square-webfont.woff') format('woff'),
         url('square-webfont.ttf') format('truetype'),
         url('square-webfont.svg#squarefontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'squarefont_outlineregular';
    src: url('squareo-webfont.eot');
    src: url('squareo-webfont.eot?#iefix') format('embedded-opentype'),
         url('squareo-webfont.woff2') format('woff2'),
         url('squareo-webfont.woff') format('woff'),
         url('squareo-webfont.ttf') format('truetype'),
         url('squareo-webfont.svg#squarefont_outlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}